<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="A1" value="-2.53448920715644" />
    <add key="A2" value="2.17117809298336" />
    <add key="A3" value=" -0.626504655602189" />
    <add key="B0" value=" 0.00127302877809082" />
    <add key="B0" value=" 0.00127302877809082" />
    <add key="B1" value=" 0.00381908633427247" />
    <add key="B2" value=" 0.00381908633427247" />
    <add key="B3" value=" 0.00127302877809082" />
	  <add key="sizeRes" value="4" />
	  <add key="sourceDirectory" value="C:\Work\duble\" />
	  <add key="matrixM" value="5952" />
	  <add key="matrixN" value="103" />
	  <add key="resultDirectory" value="C:\Work\For D\For D\Resampling\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>